body {
  font-family: "MedievalSharp", cursive;
}

#logo{
    width: 50px;
    margin-top: 180px;
    margin-left: 480px;
    position: absolute;
}
#logo2{
    width: 50px;
    margin-top: 150px;
    margin-left: 480px;
    position: absolute;
}

.score {
  position: fixed;
  color: white;
  font-size: 20px;
  padding-left: 40px;
  padding-top: 30px;
  user-select: none;
}

.life {
  color: white;
  position: fixed;
  padding-left: 300px;
  padding-top: 30px;
  font-size: 20px;
  user-select: none;
}

.numorc {
  color: white;
  position: fixed;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 160px;
  user-select: none;
}

.start-page {
  background-image: url(./Images/startp.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1start {
  color: white;
  padding-left: 120px;
  padding-top: 50px;
}

.pstart {
  color: black;
  /* margin-top: 10px; */
  margin-left: 80px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  position: absolute;
  background-color: white;
  opacity: 0.6;
}

.h2start {
  color: white;
  padding-left: 190px;
  font-size: 20px;
  margin-top: 160px;
}

#start-btn {
    position: relative;
  margin-left: 230px;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  font-family: "MedievalSharp", cursive;
  opacity: 0.6;
  border-width: 8px;
}

.end-page {
  background-image: url(./Images/end.rct);
  background-repeat: no-repeat;
  width: 2000px;
  height: 2000px;
}

.h1end {
  color: white;
  padding-left: 60px;
  padding-top: 80px;
}

.pend {
  color: black;
  /* margin-top: 10px; */
  margin-left: 75px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  position: absolute;
  background-color: white;
  opacity: 0.6;
}

.h2end {
  color: white;
  padding-left: 55px;
  font-size: 20px;
  margin-top: 130px;
}

#restart-btn {
  margin-left: 230px;
  text-decoration: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 50px;
  font-family: "MedievalSharp", cursive;
  opacity: 0.6;
  border-width: 8px;
}
